.bllush__stories--wrapper{
  position: absolute;
  width: 100%;
  bottom: 0;
}
#bllushCarousel{

  background: #e7e5e4;
  position: static;
  //top: 50%;
  //transform: translateY(-50%);
  width: 100%;
  .col-sm {
    //padding:50px;
    margin: 0;
    img {
      margin: 0 auto;
    }
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 30px;
    width: 30px;
    background-size: 100%, 100%;
    //background-image: none;
  }

  .carousel-control-next-icon:after {
    //content: '\f101';
    //font-family: FontAwesome, sans-serif;
    //font-size: 100px;
    //font-weight: bold;
    //color: red;
  }
  .carousel-control-prev-icon{
    margin-left: -20%;
  }
  .carousel-control-next-icon{
    margin-right: -20%;
  }
  .carousel-control-prev-icon:after {
    //content: '\f100';
    //font-family: FontAwesome, sans-serif;
    //font-size: 100px;
    //font-weight: bold;
    //color: red;
  }
  a.carousel-control:hover,
  a.carousel-control-next:hover {
    background-image: linear-gradient(to right, rgba(250, 250, 250, 0) 0px, rgb(0, 0, 0) 100%);
  }
  a.carousel-control-prev:hover{
    background-image: linear-gradient(to left, rgba(250, 250, 250, 0) 0px, rgb(0, 0, 0) 100%);
  }

  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='gold' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  }

  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='gold' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  }
  .carousel-control-prev, .carousel-control-next{
    width: 5%;
  }
}
