
.movingBackground {
  background: linear-gradient(239deg, #246655, #939d0a);
  background-size: 400% 400%;
  -webkit-animation: movingBackground 30s ease infinite;
  -moz-animation: movingBackground 30s ease infinite;
  animation: movingBackground 30s ease infinite;
}
.movingBackground--reverse {
  background: linear-gradient(239deg, #246655, #939d0a);
  background-size: 400% 400%;
  -webkit-animation: movingBackground 30s ease infinite reverse;
  -moz-animation: movingBackground 30s ease infinite reverse;
  animation: movingBackground 30s ease infinite reverse;
}
@-webkit-keyframes movingBackground {
  0%{background-position:0% 88%}
  50%{background-position:100% 13%}
  100%{background-position:0% 88%}
}
@-moz-keyframes movingBackground {
  0%{background-position:0% 88%}
  50%{background-position:100% 13%}
  100%{background-position:0% 88%}
}
@keyframes movingBackground {
  0%{background-position:0% 88%}
  50%{background-position:100% 13%}
  100%{background-position:0% 88%}
}