// xtra small
$screen-xs-min: 400px;
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

@media screen and (max-width: $screen-lg-min) {
  .corner-ribbon{display: none}
  .noMaxHeight {
    max-height: 50vh!important;
    margin-bottom: 25px;

  }
  .chunk__title--wrapper {
    width: 25vw;
  }
  .chunk__title_main {
    font-size: 4vw;
    line-height: 5vh;
  }
  .chunk__title_subtitle {
    font-size: 2vw;
  }
}

@media screen and (max-width: $screen-sm-min) {
  .chunk__title--wrapper {
    width: 50%;
    padding: 10px;
  }
  .chunk__title_main {
    font-size: 8vw;
    line-height: 5vh;
  }
}
@media screen and (max-width: $screen-xs-min) {
  .chunk__title--wrapper {
    min-width: 75%;
    padding: 10px;
  }
  .chunk__title_main {
    font-size: 8vw;
    line-height: 5vh;
  }
  .chunk__title_subtitle {
    font-size: 4.2vw;
  }
}

