@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import url('https://fonts.googleapis.com/css?family=Loved+by+the+King|Nixie+One|Waiting+for+the+Sunrise');

$main_font_family: Quicksand, sans-serif;

.closeMe {
  display: none;
  position: fixed;
  width: auto;
  right: 10%;
  top: 5%;
  z-index: 5;
  -webkit-text-size-adjust: revert;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.pulsate{
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0.0;
}

.twoChunkWidth {
  max-width: 100%;
}

.oneChunkWidth {
  max-width: 50%;
}

.opacityZero {
  opacity: 0;
}
.transparentizeMe{
  background: transparent;
}

.noMaxHeight {
  max-height: 100vh!important;
  width: 100vw!important;
}
.vintageFilter {
  filter: none!important;
}

.carousel-item {
  position: relative;
}
.chunk__title_main,.chunk__title_subtitle  .chunk__img{
  transition: 1.2s;

}
.chunk__title--wrapper_sided {
    background: rgba(0, 0, 0, 0.75);
    left: 0!important;
  padding: 5vw!important;
  padding-left: 20px;

  -webkit-transform: translateY(-50%)!important;
    transform: translateY(-50%)!important;;
    width: 25vw;
    height: 100%;
}

.chunk__title--wrapper {
  transition: .3s;
  padding: .5vw;
  background: rgba(0,0,0,0.75);
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 25vw;
}

  .chunk__title_subtitle {
    font-size: 1.3vw;
    color: white;
  }
  .chunk__title_main {
    letter-spacing: 5px;
    font-weight: 100;
    line-height: 2.2vw;
    font-size: 3vw;
    color: #fc0;
  }
.chunk__img {
  display: block;
  max-height: 25vh;
  min-height: 15vh;
  width: auto;
  filter: contrast(550%) grayscale(70%);
  transition: all .75s;
}
.chunk__img--wrapper{
  position: relative;
  overflow: hidden;
}
.chunk__img--ribbon{
  position: absolute;
  height: 20px;
  width: 100%;
  transform: rotate(-45deg);
  background: red;
}