<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css">
    <title>vue_bllush</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but vue_bllush doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div class="container-fluid">
        <div  style="min-height: 250px;    font-size: 120px; line-height: 240px" class="row movingBackground">ROW</div>
        <div style="min-height: 250px;    font-size: 120px; line-height: 240px" class="row movingBackground--reverse">ROW</div>
        <div  style="min-height: 250px;    font-size: 120px; line-height: 240px" class="row movingBackground">ROW</div>
        <div style="min-height: 250px;    font-size: 120px; line-height: 240px" class="row movingBackground--reverse">ROW</div>
        <div  style="min-height: 250px;    font-size: 120px; line-height: 240px" class="row movingBackground">ROW</div>
        <div style="min-height: 250px;    font-size: 120px; line-height: 240px" class="row movingBackground--reverse">ROW</div>
        <div  style="min-height: 250px;    font-size: 120px; line-height: 240px" class="row movingBackground">ROW</div>
        <div style="min-height: 250px;    font-size: 120px; line-height: 240px" class="row movingBackground--reverse">ROW</div>
        </div>
    </div>
    <div id="app"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
