<template>
  <div v-if="stories" class="bllush__stories--wrapper" @mouseover="tracker">
    <i
      v-bind:class="{ 'd-block': hoveringOverStory }"
      class="fa fa-times-circle fa-5x closeMe "
    ></i>
    <div
      @mouseover="mouseOverStories"
      @mouseleave="mouseLeaveStories"
      id="bllushCarousel"
      class="carousel slide bllush__stories"
      data-ride="carousel"
    >
      <div class="carousel-inner">
        <div
          v-bind:key="chunksIndex"
          v-for="(chunks, chunksIndex) in chunkedStories"
          v-bind:class="{ active: chunksIndex === 0, 'carousel-item': true }"
        >
          <div class="row">
            <div
              class="col-lg overflow-hidden"
              v-bind:key="chunkIndex"
              v-for="(chunk, chunkIndex) in chunks"
            >
              <a v-bind:href="chunk.link" class="chunk--wrapper">
                <div
                  v-bind:class="{
                    'chunk__title--wrapper_sided': hoveringOverStory
                  }"
                  class="chunk__title--wrapper"
                >
                  <span
                    v-bind:class="{
                      chunk__title_main: true
                    }"
                  >
                    {{ chunk.story_title }} </span
                  ><br />
                  <span
                    v-bind:class="{
                      chunk__title_subtitle: true
                    }"
                  >
                    {{ chunk.story_sub_title }}
                  </span>
                  <br />
                  <br />
                  <button class="btn btn-outline-primary ">
                    Look What We Found...
                  </button>
                </div>
                <div class="chunk__img--wrapper">
                  <div
                    class="corner-ribbon bottom-right sticky black text-yellow shadow"
                  >
                    {{ stringSplitterDelimiter(chunk.story_title) }}
                  </div>
                  <img
                    v-bind:src="chunk.cover_thumb_url"
                    v-bind:class="{
                      chunk__img: true,
                      margin: '0 auto',
                      vintageFilter: hoveringOverStory,
                      noMaxHeight: hoveringOverStory,
                      'mx-auto': true
                    }"
                  />
                </div>
              </a>
            </div>
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#bllushCarousel"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#bllushCarousel"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Button from "bootstrap-vue/src/components/button/button";
// import Story from "./Story";
export default {
  name: "Stories",
  components: { Button },
  data() {
    return {
      isDataLoaded: false,
      chunkSize: 0,
      hoveringOverStory: false
    };
  },
  methods: {
    tracker: function(actions) {
      //starting to consume user actions
      if (this.isDataLoaded) {
        this.$store.dispatch("SET_USER_ACTION", { actions });
      }
    },

    stringSplitterDelimiter: string => {
      return (
        string
          .split("")
          .slice(0, 10)
          .join("") + " [...]"
      );
    },
    mouseCanvas: function(e) {
      console.log(e);
    },
    mouseOverStories: function() {
      this.hoveringOverStory = true;
    },
    mouseLeaveStories: function() {
      this.hoveringOverStory = false;
    }
  },
  computed: {
    ...mapGetters(["GET_STORIES", "GET_CHUNKED_STORIES"]),
    stories() {
      return this.$store.getters.GET_STORIES;
    },
    chunkedStories() {
      return this.$store.getters.GET_CHUNKED_STORIES;
    },
    setTrack() {
      return this.$store.dispatch("SET_USER_ACTION");
    }
  },
  created() {},
  async mounted() {
    await this.$store.dispatch("SET_STORIES");
    this.isDataLoaded = true;
    this.chunkSize = this.$store.getters.GET_CHUNKED_SIZE;

    console.log("chunky", this.chunkedStories);
  }
};
</script>
<style lang="scss" scoped>
button {
  position: relative;
  z-index: 10;
}
</style>
