<template>
  <div id="app">
    <Stories></Stories>

  </div>
</template>

<script>
import Stories from "./components/Stories.vue";

export default {
  name: "app",
  components: {
    Stories
  }
};
</script>
<style lang="scss">
  @import "../src/styles/global";
</style>
